<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
  <img src="images/buonosplace.jpg" alt="..." class="absolute inset-0 blur-sm -z-10 h-full w-full object-cover object-right md:object-center">
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Meet our leadership</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">We are an independently owned and operated pizzeria restaurant. We refuse to compromise. We use the freshest and finest ingredients. Our Pizza Dough is made fresh daily in house and we make our sauce in house as well.</p>
    </div>
    <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
      <li>
        <div class="h-auto max-w-full flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="/images/cofounder.jpg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Jimmy</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Co-Founder / CEO</p>
          </div>
        </div>
      </li>
      <!-- More people... --> 
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Shelly</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Co-Founder / CEO</p>
          </div>
        </div>
      </li>

          
      <li>
        <div class="h-auto max-w-full flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="/images/manager.jpg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Frank</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Manager</p>
          </div>
        </div>
      </li>

      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="/images/chef.jpg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Jeremiah</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Head Chef</p>
          </div>
        </div>
      </li>

        
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="/images/sous.jpg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Alicia</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Sous Chef</p>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>