<form id="employeesignup">
    <input type="text" placeholder="First Name" id="firstName" />
    <input type="text" placeholder="Last Name" id="lastName" />
    <input type="text" placeholder="Admin? true of false" id="admin" />
    <input type="text" placeholder="Email" id="email" />
    <input type="text" placeholder="Password" id="password" />
    <button id="employeesignupButton" type="submit">Submit</button>
</form>
<a href="/" id="cancelButton">Cancel</a>

<script src="/js/employeeSignup.js"></script>