<form id="customersignup">
    <input type="text" placeholder="First Name" id="firstName" />
    <input type="text" placeholder="Last Name" id="lastName" />
    <input type="text" placeholder="Address Line 1" id="add1" />
    <input type="text" placeholder="Address Line 2" id="add2" />
    <input type="text" placeholder="City" id="city" />
    <input type="text" placeholder="State" id="state" />
    <input type="text" placeholder="Zip Code" id="zip" />
    <input type="text" placeholder="Phone Number" id="phone" />
    <input type="text" placeholder="Email" id="email" />
    <input type="text" placeholder="Password" id="password" />
    <button id="customersignupButton" type="submit">Submit</button>
</form>

<script src="/js/customerSignup.js"></script>