<form id="customerlogin">
    <input type="text" placeholder="Email" id="email" />
    <input type="text" placeholder="Password" id="password" />
    <button id="customerloginButton" type="submit">Submit</button>
</form>
<a href="/customer/signup" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Customer Signup Instead</a>
<a href="/employee/login" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Employee Login Instead</a>

<script src="/js/customerLogin.js"></script>