<form id="employeelogin">
    <input type="text" placeholder="Email" id="email" />
    <input type="text" placeholder="Password" id="password" />
    <button id="employeeloginButton" type="submit">Submit</button>
</form>
<a href="/employee/signup" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Employee Signup Instead</a>
<a href="/customer/login" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Customer Signup Instead</a>
<a href="/" id="cancelButton">Cancel</a>

<script src="/js/employeeLogin.js"></script>
