<form id="updateCategory">
    <input id="name"  type="text" value="{{cat.name}}"/>
    <input type="hidden" name="cat-id" value="{{cat.id}}"/>
    <button type="submit">Update</button> 
</form>
<button id="deleteButton" data-id="{{cat.id}}">Delete</button>
<a href="/menu" id="cancelButton">Cancel</a>

<script src="/js/updateCategory.js"></script>
